<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/users_list',users: @records %>
<% else @model == 'book' %>
  <h3>Books search for "<%= @content %>"</h3>
  <%= render 'books/books_list',books: @records %>
<% end %>